<!DOCTYPE html>
<html layout:decorate="~{basenomenu}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Step 2: Photo</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-bordered table-sm">
                <tr>
                    <td>Photo</td>
                    <td>Photo</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <form method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input class="btn btn-primary" name="action" id="save" type="submit" value="Save Picture" />
                <a th:href="@{/}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>

</div>

</body>
</html>