<!DOCTYPE html>
<html layout:decorate="~{base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <script src="/js/home.js"></script>
</head>
<body>

<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-sm-8 form-inline">
            <input class="form-control col-sm-6" id="search" type="text" placeholder="Search Name or Department Here..." autofocus>
            <button class="form-control btn btn-primary ml-2" id="clear">Clear</button>
        </div>
    </div>
    <div class="row">
        <div class="mt-2" >
            <table class="table table-bordered table-sm table-fix-head" id="staffList"
                    style="width:900px;">
                <thead>
                    <tr style="width:800px !important;">
                        <th style="width: 200px;">Name</th>
                        <th style="width: 300px;">Department</th>
                        <th style="width: 300px;">Check In Time</th>
                        <th style="width: 200px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="s : ${staff}">
                        <td th:text="|${s.firstName} ${s.lastName}|">Firstname Lastname</td>
                        <td th:text="${s.department}">Department</td>
                        <td th:text="${s.checkedInAt} ? ${#temporals.format(s.checkedInAt, 'EEE MM/dd/yyyy h:mm:ss a zzz')} : ''">Check In Time</td>
                        <td>
                            <a th:href="@{/checkin/{uuid}(uuid=${s.uuid})}"
                               th:if="!${s.checkedIn}" class="btn btn-sm btn-primary">Check In</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>