<!DOCTYPE html>
<html layout:decorate="~{basenomenu}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <form name="f" th:action="@{/login}" method="post" autocomplete="off">
        <div th:if="${param.error}" class="col-lg-4 alert alert-danger">
            <span class="text-center">Invalid username or password</span>
        </div>
        <div th:if="${param.logout}" class="col-lg-4 alert alert-success">
            <span class="text-center">You have logged out</span>
        </div>
        <h2 class="form-signin-heading">Please sign in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="col-lg-4 form-control" placeholder="Username" required autofocus autocomplete="off">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input name="password" id="password" type="password" class="col-lg-4 form-control" placeholder="Password" required autocomplete="off"/></span>
        </p>
        <button class="col-lg-4 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>