<!DOCTYPE html>
<html layout:decorate="~{layout/basenomenu}" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>
</head>
<body>

<div layout:fragment="content" class="container">

    <div class="row alert alert-warning" th:if="${error != null}" th:text="${error}">
    </div>

    <div class="row">
        <p>New password must be at least 4 characters long.</p>
    </div>

    <form method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="form-group row">
            <label for="inputPassword1" class="col-sm-1 col-form-label">Password</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" name="password1" id="inputPassword1" autofocus>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputPassword2" class="col-sm-1 col-form-label">Repeat</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" name="password2" id="inputPassword2">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4">
                <input class="btn btn-primary" name="action" id="inputSave" type="submit" value="Save" />
                <input class="btn btn-secondary" type="reset" value="Reset" />
            </div>

        </div>
    </form>
</div>

</body>
</html>