body {
    margin-top: 4em;
    margin-bottom: 3em;
}

/* Keep items in the menu bar from wrapping */
.nav-item {
    white-space: nowrap;
}

.logout-username {
    font-style: italic;
}

.page-footer {
    background-color: #EEE;
    border-top: 1px solid #666666;
    padding: 0;
}

.am-header {
    background-color: #444400 !important;
}

.pm-header {
    background-color: #000044 !important;
}


table.table-fit {
    width: auto !important;
    table-layout: auto !important;
}
table.table-fit thead th, table.table-fit tfoot th {
    width: auto !important;
}
table.table-fit tbody td, table.table-fit tfoot td {
    width: auto !important;
}